<!DOCTYPE html>
<html>
<head>

        <meta charset="utf-8"/>    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
            </title>
    <link href="/img/icons/favicon.ico?1574683039" type="image/x-icon" rel="icon"/><link href="/img/icons/favicon.ico?1574683039" type="image/x-icon" rel="shortcut icon"/>
            <link rel="stylesheet" href="/css/bc-theme.css"/>        <link rel="stylesheet" href="/css/bootstrap.min.css?1574683033"/>        <link rel="stylesheet" href="/css/gel.css?1750245480"/>    <link rel="stylesheet" href="/css/cookie-warning.css?1583231266"/>
    <link rel="stylesheet" href="/css/bc-branding.css?1710836053"/>
    <link rel="stylesheet" href="/css/contextMenu/jquery.contextMenu.css?1574683031"/>
            </head>
<body class="bc-branding" spellcheck="false">
<div class="wrap ">
    
<div class="bc-banner">
    <div class="row no-gutters red-bar"></div>
    <div class="row no-gutters bg-grayish logos px-3">
        <div class="col bc-logos">
                <a href="/">
                    <img src="/img/bc.png" alt="British Council"><img src="/img/ielts.png" alt="IELTS" class="mt-2 mt-md-0 ml-0 ml-md-2">
                </a>
        </div>
        <div class="col ielts-logo">
                <img src="/img/icons/Gel_IELTS_powered by_white.svg" alt="GEL IELTS, powered by">
        </div>
    </div>
</div>

    
    
<div class="container">
    <h1>Accessibility</h1>
    <p>Test takers with special requirements are encouraged to contact their test centre to check if the computer-delivered
        test is suitable.</p>

    <p>We have a number of options available to support special requirements with IELTS on paper, so speak to your test
        centre to find the option that best suits you.</p>

    <a href="https://takeielts.britishcouncil.org/take-ielts/book/special-arrangements">Find out more details about
        special arrangements for IELTS.</a>

    <h2>Accessibility statement for this site</h2>
    <p>This site is run by Guided e-Learning. We want as many test takers as possible to be able to use this site. For
        example, that means you should be able to:</p>
    <ul>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and
            VoiceOver)
        </li>
    </ul>
    <p>We’ve also made the website text as simple as possible to understand.</p>


    <a href="https://abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a
    disability.

    <h2>How accessible this website is</h2>

    <p>We know that the test itself is not accessible.</p>

    <h2>What to do if you cannot access parts of this website</h2>
    <p>If you need information on this site in a different format like accessible PDF, large print, easy read, audio
        recording or braille:</p>

    <p>Email: support@gelielts.com<br/>
        Call: +44 2077352538</p>

    <p>We’ll consider your request and get back to you within 5 working days.</p>

    <h2>Reporting accessibility problems with this site</h2>
    <p>We’re always looking to improve the accessibility of this site. If you find any problems not listed on this page or
        think we’re not meeting accessibility requirements, please <a href="/pages/contact">contact us</a>.</p>

    <p>Enforcement procedure</p>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and
    Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy
        with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).</p>

    <h2>Contacting us by phone or email</h2>

    <p>If you have any problems using this site, or wish to comment on the accessibility, please <a href="/pages/contact">contact us</a>.</p>
</div>

    <footer class="bc-footer">
    <div class="row no-gutters red-bar"></div>
    <div class="row no-gutters bg-grayish">
        <div class="container no-gutters content">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 mb-5 mb-md-0">
                    <img src="/img/icons/Gel_IELTS_powered by_white.svg" alt="Powered by GEL IELTS">
                </div>
                <div class="col-sm-12 col-md-6">
                    <ul class="p-0">
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/terms">Terms of use</a></li>
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/privacy">Privacy and cookie policy</a></li>
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/accessibility">Accessibility</a></li>
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="row no-gutters bg-grayish copy">
                <div class="col-xs-12"><p>&copy;2019 Guided e-Learning</p>
            </div>
        </div>
    </div>
</footer>

</div>

<div id="cookieWarning" class="" style="display: none;">
    <div class="close-warning"><img src="/img/icons/exit-white.svg"></div>
    <div class="warning-text">
        <p>We use cookies to improve our service. By continuing you agree to our use of cookies. <a href="/pages/privacy">Find out more</a></p>
    </div>
</div>
</body>
<script src="/js/lib/jquery-3.6.0.min.js?1710836053"></script><script src="/js/lib/jquery-ui.min.js?1574683029"></script><script src="/js/lib/jquery.jplayer.min.js?1574683028"></script><script src="/js/lib/popper.min.js?1574683029"></script><script src="/js/bootstrap/bootstrap.min.js?1574683026"></script>

<script>
    $(function () {
        $("#help-button").on("mouseup tap", function(e){
            notice(e, "help-clicked");
        });
        if (window.location.pathname == "/results") {
            notice(0, "results-loaded");
        }
        function notice(event, eventName) {
            $.ajax({
                cache: false,
                withCredentials: true,
                url: "/notice",
                type: "POST",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRF-Token", "ab37f7f32d5242c679af55da3d475f4b2e4185f921d08121f82d42f284d1d2f86ea7ec79278264697e4e828457b8121476f4c023be54355f7ddabae4446dde6f");
                },
                data: {
                    event: eventName,
                }
            })
                .done(function (data) {
                    if (console && console.log) {
                        console.log("Response:", data);
                    }
                });
        }
    });
    
    </script><!-- Start of HubSpot Embed Code -->
	 
	<!-- End of HubSpot Embed Code -->

</html>
