<!DOCTYPE html>
<html>
<head>

        <meta charset="utf-8"/>    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
            </title>
    <link href="/img/icons/favicon.ico?1574683039" type="image/x-icon" rel="icon"/><link href="/img/icons/favicon.ico?1574683039" type="image/x-icon" rel="shortcut icon"/>
            <link rel="stylesheet" href="/css/bc-theme.css"/>        <link rel="stylesheet" href="/css/bootstrap.min.css?1574683033"/>        <link rel="stylesheet" href="/css/gel.css?1750245480"/>    <link rel="stylesheet" href="/css/cookie-warning.css?1583231266"/>
    <link rel="stylesheet" href="/css/bc-branding.css?1710836053"/>
    <link rel="stylesheet" href="/css/contextMenu/jquery.contextMenu.css?1574683031"/>
            </head>
<body class="bc-branding" spellcheck="false">
<div class="wrap ">
    
<div class="bc-banner">
    <div class="row no-gutters red-bar"></div>
    <div class="row no-gutters bg-grayish logos px-3">
        <div class="col bc-logos">
                <a href="/">
                    <img src="/img/bc.png" alt="British Council"><img src="/img/ielts.png" alt="IELTS" class="mt-2 mt-md-0 ml-0 ml-md-2">
                </a>
        </div>
        <div class="col ielts-logo">
                <img src="/img/icons/Gel_IELTS_powered by_white.svg" alt="GEL IELTS, powered by">
        </div>
    </div>
</div>

    
    <div class="container">
    <h1>Contact us</h1>
    <p>If you have any issues accessing the IELTS familiarisation test, please contact <a
            href="mailto:support@gelielts.com">support@gelielts.com</a>
        For enquiries or feedback, please contact <a href="mailto:ielts.marketing@britishcouncil.org">ielts.marketing@britishcouncil.org</a></p>
</div>

    <footer class="bc-footer">
    <div class="row no-gutters red-bar"></div>
    <div class="row no-gutters bg-grayish">
        <div class="container no-gutters content">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 mb-5 mb-md-0">
                    <img src="/img/icons/Gel_IELTS_powered by_white.svg" alt="Powered by GEL IELTS">
                </div>
                <div class="col-sm-12 col-md-6">
                    <ul class="p-0">
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/terms">Terms of use</a></li>
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/privacy">Privacy and cookie policy</a></li>
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/accessibility">Accessibility</a></li>
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="row no-gutters bg-grayish copy">
                <div class="col-xs-12"><p>&copy;2019 Guided e-Learning</p>
            </div>
        </div>
    </div>
</footer>

</div>

<div id="cookieWarning" class="" style="display: none;">
    <div class="close-warning"><img src="/img/icons/exit-white.svg"></div>
    <div class="warning-text">
        <p>We use cookies to improve our service. By continuing you agree to our use of cookies. <a href="/pages/privacy">Find out more</a></p>
    </div>
</div>
</body>
<script src="/js/lib/jquery-3.6.0.min.js?1710836053"></script><script src="/js/lib/jquery-ui.min.js?1574683029"></script><script src="/js/lib/jquery.jplayer.min.js?1574683028"></script><script src="/js/lib/popper.min.js?1574683029"></script><script src="/js/bootstrap/bootstrap.min.js?1574683026"></script>

<script>
    $(function () {
        $("#help-button").on("mouseup tap", function(e){
            notice(e, "help-clicked");
        });
        if (window.location.pathname == "/results") {
            notice(0, "results-loaded");
        }
        function notice(event, eventName) {
            $.ajax({
                cache: false,
                withCredentials: true,
                url: "/notice",
                type: "POST",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRF-Token", "ab37f7f32d5242c679af55da3d475f4b2e4185f921d08121f82d42f284d1d2f86ea7ec79278264697e4e828457b8121476f4c023be54355f7ddabae4446dde6f");
                },
                data: {
                    event: eventName,
                }
            })
                .done(function (data) {
                    if (console && console.log) {
                        console.log("Response:", data);
                    }
                });
        }
    });
    
    </script><!-- Start of HubSpot Embed Code -->
	 
	<!-- End of HubSpot Embed Code -->

</html>
