<!DOCTYPE html>
<html>
<head>

        <meta charset="utf-8"/>    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
            </title>
    <link href="/img/icons/favicon.ico?1574683039" type="image/x-icon" rel="icon"/><link href="/img/icons/favicon.ico?1574683039" type="image/x-icon" rel="shortcut icon"/>
            <link rel="stylesheet" href="/css/bc-theme.css"/>        <link rel="stylesheet" href="/css/bootstrap.min.css?1574683033"/>        <link rel="stylesheet" href="/css/gel.css?1750245480"/>    <link rel="stylesheet" href="/css/cookie-warning.css?1583231266"/>
    <link rel="stylesheet" href="/css/bc-branding.css?1710836053"/>
    <link rel="stylesheet" href="/css/contextMenu/jquery.contextMenu.css?1574683031"/>
            </head>
<body class="bc-branding" spellcheck="false">
<div class="wrap ">
    
<div class="bc-banner">
    <div class="row no-gutters red-bar"></div>
    <div class="row no-gutters bg-grayish logos px-3">
        <div class="col bc-logos">
                <a href="/">
                    <img src="/img/bc.png" alt="British Council"><img src="/img/ielts.png" alt="IELTS" class="mt-2 mt-md-0 ml-0 ml-md-2">
                </a>
        </div>
        <div class="col ielts-logo">
                <img src="/img/icons/Gel_IELTS_powered by_white.svg" alt="GEL IELTS, powered by">
        </div>
    </div>
</div>

    
    
<div class="container">
    <h1>Privacy and cookie Policy</h1>
    <p>British Council will use the information that you are providing in connection with processing your registration
        and to send you a link to deliver your percentage mark for the Familiarisation Test. The legal basis for
        processing your information is agreement with our terms and conditions of registration (contract).</p>

    <h2>Data Protection</h2>

    <p>British Council complies with data protection law in the UK and laws in other countries that meet internationally
        accepted standards.</p>

    <p>You have the right to ask for a copy of the information we hold on you, and the right to ask us to correct any
        inaccuracies in that information. If you have concerns about how we have used your personal information, you
        also have the right to complain to a privacy regulator.</p>

    <p>For detailed information, please refer to the privacy section of our website, <a
            href="https://www.britishcouncil.org/privacy-cookies" target=_blank>www.britishcouncil.org/privacy-cookies</a> or
        contact your local British Council office. We will keep your information for a period of 2 years from the time
        of collection.</p>

    <h2>Our cookie policy</h2>

    <h4>1. What are cookies and tracking technologies?</h4>

    <p>A cookie is a text file containing a small amount of data downloaded to your computer when you visit our Portal
        and/or our Website. The vast majority of websites use cookies. Cookies can be useful because they help us select
        the content of our website and recognise you as a user. Some cookies are essential to enable you to move around
        our our Website and use its features. A list of all the cookies that we use can be found in our cookie list.</p>

    <h4>2. The cookies we use now and how to delete them</h4>

    <p>When you access our Portal and/or our Website you will receive a message advising you that we use cookies. This
        was necessary in order to display the web pages to you. If you continue to use our Portal and/or our Website,
        further cookies will be placed on your computer. If you do not want us to place cookies on your computer then
        you can opt out in multiple ways:</p>

    <ul>
        <li>setting your browser to reject all cookies;</li>
        <li>to only allow “trusted” sites to set them; or</li>
        <li>to accept only those cookies from those websites which you are currently on.</li>
    </ul>

    <p>Please remember if you opt out of cookies, our Website and/or our Portal may not be fully functional for you.</p>

    <p>For further information please see the website: <a
            href="https://www.allaboutcookies.org/" target=_blank>allaboutcookies.org</a>.</p>

    <h4>3. Our classification of cookies</h4>

    <p>We classify our cookies in the following ways:</p>

    <p>Strictly Necessary</p>

    <p>These cookies are essential to enable you to move you around the Portal and/or the Website and use its features,
        such as accessing secure areas.</p>

    <p>Performance</p>

    <p>These cookies collect information about how you use our Portal and/or our Website, for instance, which pages you
        go to most often and if you get error messages from those pages. We only use these cookies to improve how our
        Portal and/or our Website work.</p>

    <p>Functionality</p>

    <p>These cookies allow us to remember the choices you make (such as your user name) and provide enhanced
        features.</p>

    <h4>4. Our Cookies</h4>

    <p>These cookies are essential to enable you to move you around the the Website and use its features, such as
        accessing secure areas.</p>

    <p>Strictly Necessary IELTSONLINE</p>

    <p>Performance __cfduid</p>

    <p>Functionality csrfToken</p>

    <h4>5. Our technology partners</h4>

    <p>We use Cloudflare to improve the performance and security of our servers. Cloudflare’s privacy policy may be
        found here: <a href="https://www.cloudflare.com/privacypolicy/">Privacy Policy</a></p>

</div>

    <footer class="bc-footer">
    <div class="row no-gutters red-bar"></div>
    <div class="row no-gutters bg-grayish">
        <div class="container no-gutters content">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 mb-5 mb-md-0">
                    <img src="/img/icons/Gel_IELTS_powered by_white.svg" alt="Powered by GEL IELTS">
                </div>
                <div class="col-sm-12 col-md-6">
                    <ul class="p-0">
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/terms">Terms of use</a></li>
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/privacy">Privacy and cookie policy</a></li>
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/accessibility">Accessibility</a></li>
                        <li class="p-0 px-md-3 d-block d-md-inline-block"><a href="/pages/contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="row no-gutters bg-grayish copy">
                <div class="col-xs-12"><p>&copy;2019 Guided e-Learning</p>
            </div>
        </div>
    </div>
</footer>

</div>

<div id="cookieWarning" class="" style="display: none;">
    <div class="close-warning"><img src="/img/icons/exit-white.svg"></div>
    <div class="warning-text">
        <p>We use cookies to improve our service. By continuing you agree to our use of cookies. <a href="/pages/privacy">Find out more</a></p>
    </div>
</div>
</body>
<script src="/js/lib/jquery-3.6.0.min.js?1710836053"></script><script src="/js/lib/jquery-ui.min.js?1574683029"></script><script src="/js/lib/jquery.jplayer.min.js?1574683028"></script><script src="/js/lib/popper.min.js?1574683029"></script><script src="/js/bootstrap/bootstrap.min.js?1574683026"></script>

<script>
    $(function () {
        $("#help-button").on("mouseup tap", function(e){
            notice(e, "help-clicked");
        });
        if (window.location.pathname == "/results") {
            notice(0, "results-loaded");
        }
        function notice(event, eventName) {
            $.ajax({
                cache: false,
                withCredentials: true,
                url: "/notice",
                type: "POST",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRF-Token", "ab37f7f32d5242c679af55da3d475f4b2e4185f921d08121f82d42f284d1d2f86ea7ec79278264697e4e828457b8121476f4c023be54355f7ddabae4446dde6f");
                },
                data: {
                    event: eventName,
                }
            })
                .done(function (data) {
                    if (console && console.log) {
                        console.log("Response:", data);
                    }
                });
        }
    });
    
    </script><!-- Start of HubSpot Embed Code -->
	 
	<!-- End of HubSpot Embed Code -->

</html>
